
<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>

  <div class="comments col-md-12">
    <h4>Comments:</h3>
    {{#each comments}}
    <div>
      <p>{{user.name}}: {{comment_text}} (posted on {{format_date created_at}})</p>
    </div>
    {{/each}}
  </div>


  <div class="new-comment text-center col-md-12">
    <h5>Comment on this Post:</h5>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-text"></label>
        <input class="form-input" type="text" id="comment-text" name="comment-text" />
      </div>
      <div class="form-group">
        <button type="submit" id="submit_btn" class="btn btn-primary">Submit Comment</button>
      </div>
    </form>
  </div>

</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}